---
import PrimaryButton from "./buttons/PrimaryButton.astro";
import { getCollection } from "astro:content";
import ProjectOverview from "./ProjectOverview.astro";
const allFeaturedProjects = (await getCollection("projects")).filter(
  (pro) => pro.data.featured
);
---

<div
  class="bg-gradient-to-tr from-dark-secondary rounded-3xl border border-ghost-white/35 w-full p-8 sm:px-12"
>
  <div class="flex flex-col items-center gap-y-3 sm:gap-y-6">
    <h2>Work and Projects</h2>
    <div class="flex flex-col gap-y-6 divide-y divide-ghost-white/35 w-full">
      {
        allFeaturedProjects.map((project) => (
          <ProjectOverview
            slug={project.slug}
            title={project.data.title}
            description={project.data.description}
            tags={project.data.tags}
            image={project.data.image}
            githubLink={project.data.githubLink}
            projectLink={project.data.projectLink}
          />
        ))
      }
      <div class="self-center w-full flex justify-center pt-6">
          <PrimaryButton href="/projects">
            <p class="text-sm">All Projects</p>
          </PrimaryButton>
      </div>
    </div>
  </div>
</div>
