---
import { getCollection } from "astro:content";
import IntroProjectsSection from "../../components/projects/IntroProjectsSection.astro";
import ProjectsCardList from "../../components/projects/ProjectsCardList.astro";
import WorkInProgress from "../../components/WorkInProgress.astro";
import Layout from "../../layouts/Layout.astro";
import ProjectOverview from "../../components/ProjectOverview.astro";
const allProjects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);

const pageTitle = "Gregor Obreza | Projects";
const simpleDescription =
  "Browse through my work and projects; there might be something that catches your eye.";
---

<Layout title={pageTitle}>
  <main>
    <div class="flex flex-col gap-y-6 sm:gap-y-10 py-6 sm:py-12">
      <IntroProjectsSection
        mainTitle="Work and Projects"
        description={simpleDescription}
      />
      <ProjectsCardList title="All projects">
        {
          allProjects.map((project) => (
            <ProjectOverview
              slug={project.slug}
              title={project.data.title}
              description={project.data.description}
              tags={project.data.tags}
              image={project.data.image}
              githubLink={project.data.githubLink}
              projectLink={project.data.projectLink}
            />
          ))
        }
        <div class="self-center w-full pt-6">
          <WorkInProgress />
        </div>
      </ProjectsCardList>
    </div>
  </main>
</Layout>
