---
import { Image } from "astro:assets";
import BreadCrumbs from "../components/BreadCrumbs.astro";
import ConnectCard from "../components/ConnectCard.astro";
import PrimaryButton from "../components/buttons/PrimaryButton.astro";
import SecondaryButton from "../components/buttons/SecondaryButton.astro";
import Layout from "./Layout.astro";
import dayjs from "dayjs";

const { frontmatter } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}"
);
if (!images[frontmatter.image.url])
  throw new Error(
    `"${frontmatter.image.url}" does not exist in glob: "src/images/*.{jpeg,jpg,png,gif}"`
  );
---

<Layout title={`Gregor Obreza | ${frontmatter.title}`}>
  <main>
    <div class="flex flex-col gap-y-6 sm:gap-y-10 py-12">
      <div class="flex flex-col gap-y-3 px-3 sm:px-8">
        <BreadCrumbs />
        <h1>{frontmatter.title}</h1>
        <div class="flex gap-x-3 items-center justify-between sm:justify-start">
          <p class="text-sm">
            <span class="font-semibold">Published:</span>
            {dayjs(frontmatter.pubDate).format("DD/MM/YYYY")}
          </p>
          <div class="flex gap-x-3">
          {
            frontmatter?.githubLink && (
              <a href={frontmatter?.githubLink} target="_blank">
                <span class="sr-only">
                  icon with link to {frontmatter.title} github repo
                </span>
                <svg
                  role="img"
                  class="fill-ghost-white hover:fill-levender-white w-6 h-6"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <>
                    <title>GitHub</title>
                    <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                  </>
                </svg>
              </a>
            )
          }
          {
            frontmatter?.projectLink && (
              <a href={frontmatter.projectLink} target="_blank">
                <span class="sr-only">
                  icon with link to live deployment of {frontmatter.title}{" "}
                </span>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="stroke-ghost-white hover:stroke-levender-white w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                  />
                </svg>
              </a>
            )
          }
          </div>
        </div>

        <div class="font-semibold">Tags:</div>
        <div class="flex flex-wrap gap-2">
          {
            frontmatter.tags.map((tag: string) => (
              <SecondaryButton href={`/projects-tags/${tag}`}>
                <p class="text-sm">#{tag}</p>
              </SecondaryButton>
            ))
          }
        </div>
        <!-- {frontmatter.description && <p>{frontmatter.description}</p>} -->

        <div class="min-w-40 self-center pt-6">
          <Image
            class="rounded-lg"
            src={images[frontmatter.image.url]()}
            alt={frontmatter.image.alt}
          />
        </div>
      </div>
      <div class="flex flex-col gap-6 px-3 sm:px-8">
        <slot />
      </div>
      <div class="px-3 sm:px-8">
        <div class="border-t"></div>
      </div>
      <div class="self-center w-full flex justify-between pb-6 px-3 sm:px-8">
        <PrimaryButton href="/projects">
          <p class="text-sm">All Projects</p>
        </PrimaryButton>
        <SecondaryButton href="#">
          <div class="flex gap-x-1">
            <p class="text-sm">Back on top</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-badge-up-filled"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M11.375 6.22l-5 4a1 1 0 0 0 -.375 .78v6l.006 .112a1 1 0 0 0 1.619 .669l4.375 -3.501l4.375 3.5a1 1 0 0 0 1.625 -.78v-6a1 1 0 0 0 -.375 -.78l-5 -4a1 1 0 0 0 -1.25 0z"
                stroke-width="0"
                fill="currentColor"></path></svg
            >
          </div>
        </SecondaryButton>
      </div>
      <ConnectCard />
    </div>
  </main>
</Layout>
